<div class="navbar">
    <h1><span style="color: blue;">J</span>ob<span style="color: blue;">C</span>onnect</h1>
    <div class="row">
        <a href="" class="row-content" >Home</a>
        <a href="" class="row-content">Find Job</a>
        <a href="" class="row-content">Companies</a>
        <a href="" class="row-content">Candidates</a>
        <a href="" class="row-content">Blog</a>
        <a href="" class="row-content">Pages</a>
    </div>
    <div class="btns" >
        <button class="btn">  Post a Job</button>
        <button class="btn" routerLink="log">Sign in</button>

    </div>
</div>