<div class="container">
    <div class="info">
        <div class="def">
            <h2>JobConnect</h2>
            <p>Great platform for the job seeker that <br> passionate about startups. <br> Find your dream job easier</p> 
            <p>Call now : (216)27434390</p>
        </div>
        <div class="content">
            <h2>Quick Link</h2>
            <a href="">About</a>
            <a href="">Contact</a>
            <a href="">Pricing</a>
            <a href="">Blog</a>
        </div>
        <div class="candidate">
            <h2>Candidate</h2>
            <a href="">Browse Jobs</a>
            <a href="">Browse Employers</a>
            <a href="">Candidate Dashbord</a>
            <a href="">Saved Jobs</a>
        </div>
        <div class="employers">
            <h2>Employers</h2>
            <a href="">Post a Job</a>
            <a href="">Browse Candidates</a>
            <a href="">Employers Dashbord</a>
            <a href="">Applications</a>
        </div>
        <div class="support">
            <h2>Support</h2>
            <a href="">Faqs</a>
            <a href="">Privacy Policy</a>
            <a href="">Terms & Conditions</a>
        </div>
    </div>
    <br>
    <br>
    <hr class="custom-line">
    <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: 19px;">&commat; 2024 JobConnect-Job Portal. All rights Reserved</p>
    <div class="social">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-twitter"></i>
    </div>
    </div>
    