<div class="container">
    <div class="content">
     <h1 class="title">Find the perfect <br> <span style="color: rgb(91, 91, 200);;">Job</span> for you </h1>
     <p>Search your career opportunity through 12,800 jobs</p>
     <div class="search-container">
        <form action="/search" method="GET" class="search-form">
            <!--<i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-location-dot"></i>!-->
            <input type="text" placeholder=" Job title or keywords...        |       Location" class="search-input">
            <button type="submit" class="search-button">Find Job </button>
        </form>
    </div>
    <p class="suggestion"><span style="color: gray;">Suggestion:</span>Designer,Programing,Digital Marketing,Video,Animation.</p>
     <div class="col">
        <div class="col1">
             
                        <i class="fa-solid fa-building"></i>
            
                <p class="details">97,354</p>
               <p class="capteur">Companies</p>
            
            
            
        </div>
        <div class="col2">
            
            <i class="fa-solid fa-person"></i>
            <p class="details">38,47,154</p>
            <p class="capteur">Candidates</p>
           
            
        </div>
        <div class="col3">
            <i class="fa-solid fa-bag-shopping"></i>
            <p class="details">7.354</p>
            <p class="capteur">New Job</p>
        </div>
        
     </div>
    </div>
    <div class="design">
        <div class="cadre2">
        <div class="cadre">
            <img src="./assets/home-img.jpg" alt="" class="img">

        </div>
       </div>

    </div>
</div>
<div class="container1">
    <h1 class="title1" >How Jobpilot Work</h1>
    <div class="cycle">
        <div class="cycle1">
            <i class="fa-solid fa-circle-user"></i>
            <h4>Create Account</h4>
            
            
                </div>
                <i class="fa-solid fa-arrow-right"></i>
        <div class="cycle2">
            <i class="fa-solid fa-cloud-arrow-up"></i>
            <h4>Upload CV/Resume</h4>
        </div>
        <i class="fa-solid fa-arrow-right"></i>
        <div class="cycle3">
            <i class="fa-brands fa-searchengin"></i>
            <h4>Find Suitable Job</h4>
        </div>
        <i class="fa-solid fa-arrow-right"></i>
        <div class="cycle4">
            <i class="fa-regular fa-circle-check"></i>
            <h4>Apply Job</h4>
        </div>
    </div>
</div>
<div class="container2">
    <h1 style="font-size: 50px;padding-left: 50px;">Explore by  <span style="color: rgb(91, 91, 200);">category</span> :</h1>
    <button class="view">View All</button>
    <div class="category">
        <div class="ctg">
            <img class="img-category" src="./assets/Employers Logo.png" alt="">
            <div class="det">
           <h3>Senior UX Designer</h3>
           <h5>Australia  &dollar;30K-&dollar;35K </h5>       
         </div>
           <button class="time"> Contrat Base </button>
           <button class="save-job-btn" id="save-job-btn" style="margin-left: 1300px;">
            <i class="fa-regular fa-bookmark"></i>
        </button>
            <button class="btn-category">Appley Now </button>
        </div>
        <br>
        <div class="ctg">
            <img class="img-category" src="./assets/Employers Logo (1).png" alt="">
            <div class="det">

            <h3>Software Engineer</h3>
            <h5>China  &dollar;50K-&dollar;60K </h5>  
        </div>
            <button class="time"> Full Time</button>
            <button class="save-job-btn" id="save-job-btn" style="margin-left: 1330px;">
                <i class="fa-regular fa-bookmark"></i>
            </button>
            <button class="btn-category">Appley Now </button>
        </div>
        <br>
        
        <div class="ctg">
            <img class="img-category" src="./assets/Employers Logo (2).png" alt="">
           <div class="det">
            <h3>Junior Graphic Designer</h3>
            <h5>Canada  &dollar;50K-&dollar;70K </h5>  
        </div>
            <button class="time"> Full Time</button>
            <button class="save-job-btn" id="save-job-btn" style="margin-left: 1280px;">
                <i class="fa-regular fa-bookmark"></i>
            </button>
            <button class="btn-category">Appley Now </button>
        </div>
        <br>
        <div class="ctg">
            <img class="img-category" src="./assets/Employers Logo (3).png" alt="">
            <div class="det">

           
            <h3>Product Designer</h3>
   
              <h5>United States &dollar;35K-&dollar;40K </h5>       
     </div>
            <button class="time"> Full Time </button>
            <button class="save-job-btn" id="save-job-btn" style="margin-left: 1320px;">
                <i class="fa-regular fa-bookmark"></i>
            </button>
            <button class="btn-category">Appley Now </button>
        </div>
        <br>
        <div class="ctg">
            <img class="img-category" src="./assets/Employers Logo (5).png" alt="">
            <div class="det">


            <h3>Marketing Officer</h3>
  
             <h5>Germany  &dollar;50K-&dollar;90K </h5>       
      </div>
            <button class="time"> Internship </button>
            <button class="save-job-btn" id="save-job-btn" style="margin-left: 1330px;">
                <i class="fa-regular fa-bookmark"></i>
            </button>
            <button class="btn-category">Appley Now </button>
        </div>
        <br>
        <div class="ctg">
            <img class="img-category" src="./assets/Employers Logo (6).png" alt="">
            <div class="det">


            <h3>Interaction Designer</h3>
                       <h5>France  &dollar;5K-&dollar;10K </h5>       

        </div>
            <button class="time"> Full Time </button>
            <button class="save-job-btn" id="save-job-btn" style="margin-left: 1320px;">
                <i class="fa-regular fa-bookmark"></i>
            </button>
            <button class="btn-category">Appley Now </button>
        </div>
        <br>
       
     
        
        
    </div>
</div>
<div class="container3">
    <h1 style="font-size: 50px;padding-left: 50px;">Top Companies :</h1>
    <div class="companies">
        <div class="companies1">
           
                </div>
        <div class="companies2">
            
        </div>
        <div class="companies3">
            
        </div>
        <div class="companies4">
            
        </div>
    </div>
</div>