<div class="container">
    <div class="left">
      <img src="./assets/log.png" alt="Logo" class="logo">
    </div>
    <div class="right">
      <h1>Forget Password</h1>
      <p class="log">Go back to <a href="log">Sign In</a></p>
      <p class="log">Don't have account? <a href="register">Create Account</a></p>
      <form  >
        <input type="email" placeholder="Email Address" formControlName="email">
        
        <br>
        <br>
        <button type="submit" class="btn">Reset Password</button>
      </form>
     
     <p style="margin-left: 50%;">Or</p>   
      
      <div class="btns">
        <button class="sign-btn"><i class="fa-brands fa-facebook-f"></i> Sign up with Facebook</button>
        <button class="sign-btn"><i class="fa-brands fa-google"></i> Sign up with Google</button>
      </div>
     
    </div>
    
  </div>
  